/* .cardWrapper {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  &:hover {
    cursor: pointer;

    &:before {
      opacity: 0.3;
    }
  }
} */
